* {
  text-align: center;
}

body {
  font-family: "Reboto Mono", monospace;
 min-height: 400px; 
  background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/tabela-classificacao-bg.png");
  background-color: #111;
  background-size: 100%; 
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page__subtitle {
  color: #fff;
  margin-top: 5px;
}

table {
  border: 2px solid white;
  border-collapse: collapse;
}

h1 {
  color: white;
}

th, tr, td {
  border: solid 3px white;
  color: white;
}